.page-header.navbar .page-logo .logo-default {
	margin: 2px 0px 0px -20px;
}

.has-error .help-block, .has-error .help-inline, .has-error .control-label, .has-error .radio, .has-error .checkbox, .has-error .radio-inline, .has-error .checkbox-inline {
	color: #a7282d; !important
}

.login .logo {
	margin-top: 70px;
}

@media (max-width: 1400px) {
	.login .logo {
		margin-top: 70px;
	}
}

/*
.alert-danger {
	background-color: rgb(255, 34, 124) !important;
	border-color: #ff0844 !important;;
}
*/

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active {
	background-color: #00b8d0 !important;
	border-color: #007888;
}

.login .btn-primary:hover {
	color: #d4e3ec;
}

.col-no-padding-right {
  padding-right: 0 !important;
}


/*
	form-input-error
*/
.help-block {
	background-color: rgba(255, 255, 255, .2);
	color: rgba(255,255,255,.8) !important;
    font-size: .6em;
    padding: 5px;
}

.help-block span {
	color: white;
}

.login .msg-success {
	text-align: center;
}

.new-apikey {
	text-align: center;
    font-size: 17pt;
    font-family: monospace;
}

.dropdown-user .username {
	margin-right: 15px;
}

.footer-external {
	text-align: center;
}

.footer-external-logo {
	max-width: 20px;
	margin: 10px;
	opacity: .4;
}

.footer-external-logo:hover {
	/*max-width: 40px;*/
	/*margin: 10px;*/
	/*margin-top: 15px;*/
	opacity: .8;
}

.fingerprint-small {
	font-size: .7em !important;
}

.monospace-red {
	font-family: monospace; color: #ed6b75;
}

.branch-name {
	color: black !important;
}

.monospace-dropdown {
	font-family: monospace;
	font-size: 0.8em;
}

/* Labels for user goals */
.tag {
  font-size: 14px;
  padding: .3em .4em .4em;
  margin: 0 .1em;
}
.tag a {
  color: #bbb;
  cursor: pointer;
  opacity: 0.6;
}
.tag a:hover {
  opacity: 1.0
}
.tag .remove {
  vertical-align: bottom;
  top: 0;
}
.tag a {
  margin: 0 0 0 .3em;
}
.tag a .glyphicon-white {
  color: #fff;
  margin-bottom: 2px;
}

.selected-row {
	border-right: 10px solid red;
}

.selected-row:hover {
	cursor: pointer;
}

.default-row {}

.default-row:hover {
	cursor: pointer;
}