<!-- BEGIN PAGE BREADCRUMB -->
<ul class="page-breadcrumb breadcrumb">
  <li>
    <a ui-sref="dashboard">Home</a>
    <i class="fa fa-circle"></i>
  </li>
  <li class="active"> Dashboard </li>
</ul>
<!-- END PAGE BREADCRUMB -->
<!-- BEGIN MAIN CONTENT -->
<div>
  <!-- BEGIN DASHBOARD STATS -->
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <!-- BEGIN PORTLET-->
      <div class="portlet light bordered ">
        <div class="portlet-title">
          <div class="caption caption-md">
            <i class="icon-bar-chart font-red"></i>
            <span class="caption-subject font-red bold uppercase">Activity</span>
          </div>
          <div class="actions">
            <div class="btn-group btn-group-devided" data-toggle="buttons">
              <label class="btn green btn-outline btn-circle btn-sm active">
                <input type="radio" name="options" class="toggle" id="option1" />
                Check-ins
              </label>
              <label class="btn red btn-outline btn-circle btn-sm">
                <input type="radio" name="options" class="toggle" id="option2" />
                Updates
              </label>
              <label class="btn blue btn-outline btn-circle btn-sm">
                <input type="radio" name="options" class="toggle" id="option2" />
                MQTT
              </label>
            </div>
          </div>
        </div>
        <div class="portlet-body">
          <div class="row number-stats margin-bottom-30">
            <div class="col-md-6 col-sm-6 col-xs-6">
              <div class="stat-left">
                <div class="stat-chart">
                  <!-- do not line break "sparkline_bar" div. sparkline chart has an issue when the container div has line break -->
                  <div id="sparkline_bar"></div>
                </div>
                <div class="stat-number">
                  <div class="title"> Daily Check-ins </div>
                  <div class="number"> {{$root.stats.total.DEVICE_CHECKIN}} </div>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6">
              <div class="stat-right">
                <div class="stat-chart">
                  <!-- do not line break "sparkline_bar" div. sparkline chart has an issue when the container div has line break -->
                  <div id="sparkline_bar2"></div>
                </div>
                <div class="stat-number">
                  <div class="title"> New Check-ins</div>
                  <div class="number"> {{$root.stats.total.DEVICE_NEW}} </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- END PORTLET-->
    </div>
  </div>

  <!-- BEGIN DEVICES -->
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <!-- BEGIN PORTLET-->
      <div class="portlet light bordered ">
        <div class="portlet-title">
          <div class="caption caption-md">
            <i class="icon-bulb font-red"></i>
            <span class="caption-subject font-red bold uppercase">Devices</span>
          </div>
          <div class="actions" style="padding-bottom: 10px;">
            <div class="btn-group">
              <a ng-show="selectedItems.length > 0" class="btn red btn-outline" href="javascript:;" data-toggle="dropdown" aria-expanded="false">
                <i class="fa fa-bars"></i> Actions
                <i class="fa fa-angle-down"></i>
              </a>
              <ul class="dropdown-menu pull-right">
                <li><a href="javascript:;" ng-click="revokeSelected()"><i class="icon-trash"></i> Revoke</a></li>
                <li><a href="javascript:;" ng-click="openTransferModal()"><i class="fa fa-exchange"></i> Transfer</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="portlet-body">
          <div class="row" style="padding-left: 20px; padding-right: 20px;">
            <div class="btn-group dropdown open pull-left" uib-dropdown="">
              <button id="split-button" type="button" class="btn btn-default" ng-click="list.reverse = !list.reverse"><small>ORDER BY</small> {{list.orderBy.alias}}</button>
              <button type="button" class="btn btn-default dropdown-toggle" uib-dropdown-toggle="" aria-haspopup="true" aria-expanded="true">
                <span class="caret"></span>
                <span class="sr-only">Select...</span>
              </button>
              <ul class="dropdown-menu" uib-dropdown-menu="" role="menu" aria-labelledby="split-button">
                <li role="menuitem" ng-repeat="order in list.orderOptions">
                  <a href="javascript:;" ng-click="list.orderBy = order">{{order.alias}}</a>
                </li>
              </ul>
            </div>
            <div class="btn-group pull-right">
              <span class="input-icon right">
                <i class="icon-magnifier"></i>
                <input type="text" style="width: 150px; display: inline-block;" class="form-control form-control-solid" ng-model="list.searchText" placeholder="Search...">
              </span>
            </div>

          </div>
          <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 device-block"  ng-repeat="device in $root.devices | propsFilter:{'alias':list.searchText, 'mac':list.searchText} | orderBy:list.orderBy.prop:list.reverse track by device.udid"  ng-class="selectedItems.indexOf(device.udid) > -1 ? 'selected-block' : ''">
              <div>
                <div class="device-checkarea" ng-click="checkItem(device.udid)"></div>
                <div class="device-lastseen-label">{{device.lastupdate | lastSeen}}</div>
                <div class="device-alias"><span class="device-icon bg-{{device.category}}"></span> {{device.alias}}</div>
                <div class="device-mac-label"><span class="mac-label">MAC</span>{{device.mac}}</div>
                <div ng-if="hasSource(device)" class="device-firmware">{{getSourceById(device.source).alias}}
                  <br>
                  <small>{{device.firmware | limitTo: 32}}{{device.firmware.length > 32 ? '...' : ''}}</small>
                </div>
                <div ng-if="!hasSource(device)" class="device-firmware">
                  Source not attached<br><small>Firmware unknown</small>
                </div>
                <div class="device-block-control">
                  <a class="btn btn-circle btn-icon-only btn-default" ng-click="openDeviceModal(device, $event)" title="Device Settings">
                    <i class="fa fa-pencil"></i>
                  </a>
                  <a class="btn btn-circle btn-icon-only btn-default" href="#" ng-if="hasSource(device) && getSourceById(device.source).platform != 'nodejs'" ng-click="build(device.udid, device.source); $event.stopPropagation()" ng-hide="hasBuildId(device.udid) == null"  title="Build From Source">
                    <i class="fa fa-cogs"></i>
                  </a>
                  <span ng-if="hasBuildId(device.udid) == null" ng-disabled="true" class="btn btn-circle">
                    <i class="fa fa-spin fa-circle-o-notch"></i>
                  </span>
                  <span ng-if="hasBuildId(device.udid)">
                    <a class="btn btn-circle btn-icon-only btn-default" ng-click="showDeviceLastBuild(device.udid, $event)" title="Open Build Log">
                      <i class="fa fa-eye"></i>
                    </a>
                  </span>
                  <span ng-if="hasSource(device)">
                      <span class="badge platform-badge {{getSourceById(device.source).platform}}-platform-color" title="Source Platform: {{$root.platforms[getSourceById(device.source).platform].name}}">{{$root.platforms[getSourceById(device.source).platform].name}}</span>
                  </span>
                  <span ng-if="device.keyhash != null">
                      <span class="btn btn-circle btn-icon-only" title="API Key: Attached"><i class="fa fa-key"></i></span>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- END PORTLET-->
    </div>
  </div>
  <!-- END DEVICES -->

  <!-- BEGIN JOURNEY -->
  <div class="row" ng-hide="$root.profile.info.goals.includes('lord')">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <!-- BEGIN PORTLET-->
      <div class="portlet light bordered ">
        <div class="portlet-title">
          <div class="caption caption-md">
            <i class="icon-trophy font-red"></i>
            <span class="caption-subject font-red bold uppercase">Progress</span>
          </div>
        </div>
        <div class="portlet-body">
          <div class="row user-journey">
            <div class="col-xs-3 text-center " ng-class="journeyClass('apikey')">
              <i class="fa fa-circle"></i><br><br>
              PREPARE
            </div>
            <div class="col-xs-3 text-center" ng-class="journeyClass('enroll')">
              <span class="user-journey-bar1"></span>
              <i class="fa fa-circle"></i><br><br>
              ENROLL
            </div>
            <div class="col-xs-3 text-center" ng-class="journeyClass('build')">
              <span class="user-journey-bar2"></span>
              <i class="fa fa-circle"></i><br><br>
              BUILD
            </div>
            <div class="col-xs-3 text-center" ng-class="journeyClass('update')">
              <span class="user-journey-bar3"></span>
              <i class="fa fa-circle"></i><br><br>
              UPDATE
            </div>
          </div>
          <div ng-show="$root.profile.info.goals.includes('update')" class="text-center">
            <span class="progress-medal"></span>
            <h2>Congratulations!</h2>
            <p>You are The Lord of the THiNX</p>
            <br>
            <button class="btn green-haze btn-outline btn-lg" ng-click="$root.profile.info.goals.push('lord'); $emit('saveProfile');">Dismiss</button>
            <br><br>
          </div>
        </div>
      </div>
      <!-- END PORTLET-->
    </div>
  </div>
  <!-- END JOURNEY -->

  <!-- START STATS -->
  <div class="row">
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
      <div class="dashboard-stat green-steel">
        <div class="visual">
          <i class="fa fa-shopping-cart"></i>
        </div>
        <div class="details">
          <div class="number"> {{$root.stats.total.APIKEY_INVALID}} </div>
          <div class="desc"> Errors </div>
        </div>
        <a class="more" href="#"> View more
          <i class="m-icon-swapright m-icon-white"></i>
        </a>
      </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
      <div class="dashboard-stat green-seagreen">
        <div class="visual">
          <i class="fa fa-bar-chart-o"></i>
        </div>
        <div class="details">
          <div class="number"> {{$root.stats.total.DEVICE_CHECKIN}} </div>
          <div class="desc"> Check-ins </div>
        </div>
        <a class="more" href="#"> View more
          <i class="m-icon-swapright m-icon-white"></i>
        </a>
      </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
      <div class="dashboard-stat green-meadow">
        <div class="visual">
          <i class="fa fa-comments"></i>
        </div>
        <div class="details">
          <div class="number"> {{$root.stats.total.UPDATES}} </div>
          <div class="desc"> Updates </div>
        </div>
        <a class="more" href="#"> View more
          <i class="m-icon-swapright m-icon-white"></i>
        </a>
      </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
      <div class="dashboard-stat green-jungle">
        <div class="visual">
          <i class="fa fa-globe"></i>
        </div>
        <div class="details">
          <div class="number"> {{$root.stats.total.DEVICES}} </div>
          <div class="desc"> Active </div>
        </div>
        <a class="more" href="#"> View more
          <i class="m-icon-swapright m-icon-white"></i>
        </a>
      </div>
    </div>
  </div>
  <!-- END STATS -->

  <!-- BEGIN FORM-->
  <form action="#" class="form-horizontal form-bordered" name="deviceModalForm">
    <div id="deviceModal" class="modal fade" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
            <h4 class="modal-title">Device</h4>
          </div>

          <div class="modal-body">
            <div class="form-group">
              <label class="control-label col-md-3">Platform</label>
              <div class="col-md-9">
                <ui-select ng-model="deviceForm.platform" theme="bootstrap" title="Choose platfourm">
                  <ui-select-match placeholder="Select platform from the list...">
                    <img ng-src="../assets/thinx/img/external/{{$select.selected.id}}_logo_200.png" class="platform-icon-sm pull-left {{$select.selected.id}}-platform-color" alt="{{$select.selected.id}} icon" />
                    {{$select.selected.value.name}}
                  </ui-select-match>
                  <ui-select-choices repeat="platform.id as (id, platform) in $root.platforms | filter:$select.search">
                    <img ng-src="../assets/thinx/img/external/{{platform.id}}_logo_200.png" class="platform-icon pull-left {{platform.id}}-platform-color" alt="{{platform.id}} icon" />
                    <div class="platform-title" ng-bind-html="platform.value.name | highlight: $select.search"></div><br>
                  </ui-select-choices>
                </ui-select>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-md-3">Category</label>
              <div class="col-md-9">
                <ui-select ng-model="deviceForm.category" theme="bootstrap" title="Choose category">
                  <ui-select-match placeholder="Select category from the list...">
                    <i class="pull-left bg-{{$select.selected.id}} color-dot-out" alt="{{$select.selected.value.name}}"></i>
                    {{$select.selected.value.name}}
                  </ui-select-match>
                  <ui-select-choices repeat="category.id as (id, category) in $root.categories | filter:$select.search">
                    <i class="pull-left bg-{{category.id}} color-dot" alt="{{category.value.name}}"></i>
                    <div ng-bind-html="category.value.name | highlight: $select.search"></div>
                  </ui-select-choices>
                </ui-select>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-md-3">Tags</label>
              <div class="col-md-9">
                <input type="text" ng-model="deviceForm.tags" name="deviceTags" class="form-control" />
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-md-3">Alias</label>
              <div class="col-md-9">
                <input type="text" ng-model="deviceForm.alias" name="deviceAlias" class="form-control" />
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-md-3">Description</label>
              <div class="col-md-9">
                <input type="text" ng-model="deviceForm.description" name="deviceDescription" class="form-control" />
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-md-3">API Key</label>
              <div class="col-md-9">
                <ui-select ng-model="deviceForm.keyhash" theme="bootstrap" title="Choose a key">
                  <ui-select-match placeholder="Select key in the list...">{{$select.selected.value.alias}}</ui-select-match>
                  <ui-select-choices repeat="apikey.value.hash as (key, apikey) in $root.apikeys | filter: { value: { alias: $select.search }}">
                    <div ng-bind-html="apikey.value.alias | highlight: $select.search"></div>
                    <small>{{apikey.value.hash | limitTo: 6 }}</small>
                  </ui-select-choices>
                </ui-select>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-md-3">Source</label>
              <div class="col-md-9">
                <div class="input-group">
                  <ui-select ng-model="deviceForm.source" theme="bootstrap" title="Choose a source" on-select="attachRepository($select.selected.value.sourceId, deviceForm.udid)">
                    <ui-select-match placeholder="Select source in the list..."><div class="badge platform-badge {{$select.selected.value.platform}}-platform-color" style="float: right; margin-top: 2px;">{{$root.platforms[$select.selected.value.platform].name}}</div> {{$select.selected.value.alias}}</ui-select-match>
                    <ui-select-choices repeat="source.value.sourceId as (key, source) in $root.sources | filter: { value: { alias: $select.search }}">
                      <div>
                        <span ng-bind-html="source.value.alias | highlight: $select.search"></span>
                        <span class="badge {{source.value.platform}}-platform-color platform-badge">{{$root.platforms[source.value.platform].name}}</span>
                      </div>
                      <small>{{source.value.url}}</small>
                    </ui-select-choices>
                  </ui-select>
                  <span class="input-group-btn">
                    <button type="button" ng-click="detachRepository(deviceForm.udid)" class="btn btn-default"><span class="fa fa-chain-broken"></span></button>
                  </span>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-md-3">Auto Update</label>
              <div class="col-md-9">
                <input
                  bs-switch
                  ng-model="deviceForm.auto_update"
                  type="checkbox"
                  switch-size="tiny"
                  switch-on-text="On"
                  switch-off-text="Off"
                  ng-true-value="true"
                  ng-false-value="false">
              </div>
            </div>
            <div class="form-group last">
              <label class="control-label col-md-3">MQTT Channel</label>
              <div class="col-md-9">
                <div class="input-group">
                  <input type="text" id="mqtt" name="mqtt" class="form-control" ng-value="'/' + $root.profile.owner + '/' + deviceForm.udid" ng-readonly="true" />
                  <span class="input-group-btn">
                    <button type="button" ng-click="copyToClipboard(deviceForm.udid)" class="btn btn-default copy-btn" data-clipboard-target="#mqtt"><span class="fa fa-clipboard"></span></button>
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" ng-click="submitDeviceForm()"><i class="fa fa-check"></i> Submit</button>
          </div>
        </div>
      </div>
    </div>
  </form>
  <!-- END FORM-->

  <!-- BEGIN MODAL TRANSFER -->
  <div id="transferModal" class="modal container fade" role="dialog" aria-hidden="true">
    <div class="modal-dialog transfer-modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
          <h4 class="modal-title">Transfer Devices</h4>
        </div>
        <div class="modal-body">
          <form action="#" class="form-horizontal">
            <div class="form-group">
              <label class="control-label col-md-3">Target Account</label>
              <div class="col-md-9">
                <input type="text" ng-model="transferForm.email" class="form-control" placeholder="E-mail" />
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-md-3">Keep API Keys?</label>
              <div class="col-md-9">
                <input
                  bs-switch
                  ng-model="transferForm.mig_apikeys"
                  type="checkbox"
                  switch-size="tiny"
                  switch-on-text="Yes"
                  switch-on-color="primary"
                  switch-off-text="No"
                  switch-off-color="danger"
                  ng-true-value="true"
                  ng-false-value="false">
              </div>
            </div>
            <div class="alert alert-warning" ng-if="!transferForm.mig_apikeys && isSharedKey()">
              <strong>Warning!</strong> You are about to transfer API Key, that is shared across multiple devices.<br>
              Generate dedicated keys before transfer to keep access to all your devices when transfer is completed.
            </div>
            <div class="form-group">
              <label class="control-label col-md-3">Copy Sources?</label>
              <div class="col-md-9">
                <input
                  bs-switch
                  ng-model="transferForm.mig_sources"
                  type="checkbox"
                  switch-size="tiny"
                  switch-on-text="Yes"
                  switch-off-text="No"
                  ng-true-value="true"
                  ng-false-value="false">
              </div>
            </div>
            <div class="alert alert-info" ng-if="transferForm.mig_sources">
              Links to selected public or private repositories will be copied into target account.<br>
              Access to private repositories has to be resolved by adding <b>valid RSA Key to target account</b>.
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" ng-click="transferDevices()"><i class="fa fa-exchange"></i> Transfer</button>
        </div>
      </div>
    </div>
  </div>
  <!-- END MODAL TRANSFER -->

  <!-- START GOALS -->
  <div class="note note-info" ng-hide="$root.profile.info.goals.includes('apikey')">
    <h3>1. API Key <span class="close" data-close="note" ng-click="$root.profile.info.goals.push('apikey'); $emit('saveProfile');"></span></h3>
    <a ui-sref="apikey">Create your first API Key</a>
    <p>
      Enter API Keys Management
    </p>
  </div>
  <div class="note note-info" ng-hide="$root.profile.info.goals.includes('enroll')">
    <h3>2. Device Enrollment
      <span class="close" data-close="note" ng-click="$root.profile.info.goals.push('enroll'); $emit('saveProfile');"></span>
    </h3>
    <a>Enroll your device</a>
    <p>
      To start managing your first device via THiNX RTM Console you need to flash Vanilla Firmware with new API Key first.
      <br><br>
      Si má uživatel nainstalovat platformio, příslušnej USB driver, a uploadnout si na svoje ESP8266 vanilla binárku
    </p>
  </div>
  <div class="note note-info" ng-hide="$root.profile.info.goals.includes('enroll-setup')">
    <h3>3. Device Setup
      <span class="close" data-close="note" ng-click="$root.profile.info.goals.push('enroll-setup'); $emit('saveProfile');"></span>
    </h3>
    <a>Connect your device to internet</a>
    <p>
      Na device se pak uživatel připojí jako na AP, zadá login do WiFi a API Key… a je to.
      A mohla by mu přijít desktop notifikace, že se zaregistroval nový device.
    </p>
  </div>
  <div class="note note-danger" ng-hide="$root.profile.info.goals.includes('rsakey')">
    <h3>Security
      <span class="close" data-close="note" ng-click="$root.profile.info.goals.push('rsakey'); $emit('saveProfile')"></span>
    </h3>
    <a ui-sref="rsakey">Add RSA Key</a>
    <p>
      Adding your public key will enable access to your private repositories.
    </p>
  </div>
  <div class="note note-success" ng-hide="$root.profile.info.goals.includes('update')">
    <h3>Well Done!
      <span class="close" data-close="note" ng-click="$root.profile.info.goals.push('update'); $emit('saveProfile');"></span>
    </h3>
    <a>Update your device</a>
    <p>
      Ale na to musíme dořešit HTTPS.
    </p>
  </div>
  <!-- END GOALS -->

  <!-- START SUMMARY -->
  <div class="row">
    <div class="col-md-12 col-sm-12">
      <!-- BEGIN PORTLET-->
      <div class="portlet light bordered ">
        <div class="portlet-title">
          <div class="caption caption-md">
            <i class="icon-graph font-green"></i>
            <span class="caption-subject font-green bold uppercase">Summary</span>
          </div>
          <div class="actions">
            <div class="btn-group btn-group-devided" data-toggle="buttons">
              <label class="btn dark btn-outline btn-circle btn-sm active"><input type="radio" name="options" class="toggle" id="option1" />Today</label>
              <label class="btn dark btn-outline btn-circle btn-sm"><input type="radio" name="options" class="toggle" id="option2" />Week</label>
              <label class="btn dark btn-outline btn-circle btn-sm"><input type="radio" name="options" class="toggle" id="option2" />Month</label>
            </div>
          </div>
        </div>
        <div class="portlet-body">
          <div class="row list-separated">
            <div class="col-md-3 col-sm-3 col-xs-6">
              <div class="font-grey-mint font-sm"> Devices </div>
              <div class="uppercase font-hg font-red-flamingo"> 2
                <span class="font-lg font-grey-mint"></span>
              </div>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-6">
              <div class="font-grey-mint font-sm"> Errors </div>
              <div class="uppercase font-hg font-green"> 20
                <span class="font-lg font-grey-mint"></span>
              </div>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-6">
              <div class="font-grey-mint font-sm"> Check-ins </div>
              <div class="uppercase font-hg font-purple"> 17
                <span class="font-lg font-grey-mint"></span>
              </div>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-6">
              <div class="font-grey-mint font-sm"> Growth </div>
              <div class="uppercase font-hg font-blue"> 32
                <span class="font-lg font-grey-mint"></span>
              </div>
            </div>
          </div>
          <div id="device_statistics" class="portlet-body-morris-fit morris-chart" style="height: 230px"> </div>
        </div>
      </div>
      <!-- END PORTLET-->
    </div>
  </div>
  <!-- END SUMMARY -->
</div>
<!-- END MAIN CONTENT -->

<!-- START PAGE LOG OVERLAY -->
<div ng-controller="LogviewController" class="log-view-overlay-conatiner" style="display:none">
  <div class="log-view-overlay-controls">
    <a ng-click="wsstailLog($root.modalBuildId)" title="Refresh status"><i class="icon-refresh"></i></a>
    <a ng-click="switchWrap()" title="Toggle Word Wrap"><i class="icon-frame"></i></a>
    <a ng-click="hideLogOverlay($root.modalBuildId)" title="Close Log"><i class="icon-close"></i></a>
  </div>
  <div class="log-view-overlay log-view-body force-word-wrap" scroll-glue>
    <div class="overlay-title">Build Log <span>{{$root.modalBuildId}}</span></div>
    {{$root.logdata[$root.modalBuildId]}}
  </div>
</div>
<!-- END PAGE LOG OVERLAY -->

<!-- BEGIN MAIN JS & CSS -->
<script>
Dashboard.init();
new Clipboard('.copy-btn');
</script>
<!-- BEGIN MAIN JS & CSS
