<!-- BEGIN PAGE BREADCRUMB -->
<ul class="page-breadcrumb breadcrumb">
  <li>
    <a ui-sref="dashboard">Home</a>
    <i class="fa fa-circle"></i>
  </li>
  <li class="active"> Environment Variables Management </li>
</ul>
<!-- END PAGE BREADCRUMB -->
<!-- BEGIN MAIN CONTENT -->
<div class="row">
  <div class="col-md-12">

    <div class="note note-info" ng-hide="$root.profile.info.goals.includes('enviro-info')">
      <h3>Enviros
        <span class="close" data-close="note" ng-click="$root.profile.info.goals.push('enviro-info'); $emit('saveProfile');"></span>
      </h3>
      <p>
        Key-value based environment strings you define will be injected as variables to your source-code of the language you prefer. You can use this to inject SSID and PASSWORD of your WiFi (and even API Keys will be done like this soon) in case you don't want to store those in the GIT repository (e.g. your repo is public).
      </p>
    </div>

    <!-- BEGIN: ACCORDION DEMO -->
    <div class="portlet light bordered">
      <div class="portlet-title">
        <div class="caption font-green-sharp">
          <i class="icon-globe font-green-sharp"></i>
          <span class="caption-subject bold uppercase">Environment Variables</span>
          <span class="caption-helper hide"></span>
        </div>
        <div class="actions hide">
          <a class="btn btn-circle btn-icon-only btn-default" href="#">
            <i class="icon-cloud-upload"></i>
          </a>
          <a class="btn btn-circle btn-icon-only btn-default" href="#">
            <i class="icon-wrench"></i>
          </a>
        </div>
      </div>
      <div class="portlet-body">
        <div class="row">
          <div class="col-xs-6">
            <a href="#" class="btn green-haze btn-outline" ng-click="resetModal()" data-target="#pageModal" data-toggle="modal">Create Environment Variable</a>
          </div>
          <div class="col-xs-6 text-right">
            <button class="btn btn-circle btn-icon-only" ng-class="selectedItems.length > 0 ? 'btn-danger' : 'btn-default'" ng-click="revokeEnviros()" type="button" ><i class="icon-trash"></i></button>
          </div>
        </div>
        <div class="table-scrollable table-scrollable-borderless">
          <div class="input-icon right top-list-search">
              <i class="icon-magnifier"></i>
              <input type="text" class="form-control form-control-solid" ng-model="searchText" placeholder="Search...">
          </div>
          <table class="table table-hover table-light">
            <tr ng-repeat="enviro in $root.enviros | filter:searchText track by $index" ng-click="checkItem(enviro)" ng-class="selectedItems.indexOf(enviro) > -1 ? 'selected-row' : 'default-row'">
              <td>
                <div class="row-item-title">{{enviro}}</div>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
  <!-- BEGIN FORM-->
  <form action="#" class="form-horizontal form-bordered" name="enviroModal">
    <div id="pageModal" class="modal fade" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
            <h4 class="modal-title">New Environment Value</h4>
          </div>
          <div class="modal-body">
            <form action="#" class="form-horizontal">
              <div class="form-group">
                <label class="control-label col-md-3">Name</label>
                <div class="col-md-9">
                  <input type="text" name="enviroName" ng-model="enviroName" class="form-control" placeholder="Variable Name" />
                </div>
              </div>
              <div class="form-group last">
                <label class="control-label col-md-3">Value</label>
                <div class="col-md-9">
                  <textarea name="enviroValue" ng-model="enviroValue" class="form-control" placeholder="Enter value here...")></textarea>
                </div>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" ng-click="addEnviro()" ng-disabled="(enviroName == null || enviroName.length < 1) || (enviroValue == null || enviroValue.length < 1)"><i class="fa fa-check"></i> Submit</button>
          </div>
        </div>
      </div>
    </div>
  </form>
  <!-- END FORM-->
</div>
<!-- END MAIN CONTENT -->
<!-- BEGIN MAIN JS-->
<script>
// call any jquery or angularjs code ehre
</script>
<!-- BEGIN MAIN JS -->
