<!-- BEGIN PAGE BREADCRUMB -->
<ul class="page-breadcrumb breadcrumb">
    <li>
        <a ui-sref="dashboard">Home</a>
        <i class="fa fa-circle"></i>
    </li>
    <li class="active"> RSA Key Management </li>
</ul>
<!-- END PAGE BREADCRUMB -->
<!-- BEGIN MAIN CONTENT -->
<div class="row" ng-controller="RsakeyController">
     <div class="col-md-12">
        <!-- BEGIN: ACCORDION DEMO -->
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption font-green-sharp">
                    <i class="icon-lock font-green-sharp"></i>
                    <span class="caption-subject bold uppercase">RSA Keys</span>
                    <span class="caption-helper hide"></span>
                </div>
                <div class="actions">
                    <a class="btn btn-circle btn-icon-only btn-default" href="#">
                        <i class="icon-cloud-upload"></i>
                    </a>
                    <a class="btn btn-circle btn-icon-only btn-default" href="#">
                        <i class="icon-wrench"></i>
                    </a>
                </div>
            </div>
            <div class="portlet-body"> 
                <a href="#" class="btn green-haze" ng-click="resetModal()" data-target="#pageModal" data-toggle="modal">Create Key</a>
                <div class="table-scrollable table-scrollable-borderless">
                    <table class="table table-hover table-light">
                        <thead>
                            <tr class="uppercase">
                                <th>
                                    Alias / Key
                                </th>
                                <th>
                                    Actions
                                </th>
                            </tr>
                        </thead>

                        <tr ng-repeat="rsakey in $root.rsaKeys">
                            <td>
                                <div>{{rsakey.name}}</div>
                                <div class="monospace-red">{{rsakey.fingerprint}}</div>
                            </td>
                            <td>
                                <button type="button" class="btn btn-danger btn-tiny" ng-click="revokeRsakey(rsakey.fingerprint, $index)"><i class="fa fa-cross"></i> Delete</button>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
     <!-- BEGIN FORM-->
    <form action="#" class="form-horizontal form-bordered" name="rsakeyModal">
        <div id="pageModal" class="modal fade" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                        <h4 class="modal-title">New RSA Key</h4>
                    </div>
                    <div class="modal-body">
                        <form action="#" class="form-horizontal">
                            <div class="form-group">
                                <label class="control-label col-md-3">Key Alias</label>
                                <div class="col-md-9">
                                    <input type="text" name="rsakeyName" ng-model="rsakeyName" class="form-control" />
                                </div>
                            </div>
                            <div class="form-group last">
                                <label class="control-label col-md-3">Key Value</label>
                                <div class="col-md-9">
                                    <textarea name="rsakeyValue" ng-model="rsakeyValue" class="form-control"></textarea>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" ng-click="addRsakey()" ng-disabled="(rsakeyName == null || rsakeyName.length < 1) || (rsakeyValue == null || rsakeyValue.length < 1)"><i class="fa fa-check"></i> Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <!-- END FORM-->
</div>
<!-- END MAIN CONTENT -->
<!-- BEGIN MAIN JS-->
<script>
    // call any jquery or angularjs code ehre
</script>
<!-- BEGIN MAIN JS -->