<!-- BEGIN PAGE BREADCRUMB -->
<ul class="page-breadcrumb breadcrumb">
    <li>
        <a ui-sref="dashboard">Home</a>
        <i class="fa fa-circle"></i>
    </li>
    <li class="active"> Source Management </li>
</ul>
<!-- END PAGE BREADCRUMB -->
<!-- BEGIN MAIN CONTENT -->
<div class="row" ng-controller="SourceController">
    <div class="col-md-12">
        <!-- BEGIN: ACCORDION DEMO -->
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption font-green-sharp">
                    <i class="icon-folder-alt font-green-sharp"></i>
                    <span class="caption-subject bold uppercase">Sources</span>
                    <span class="caption-helper hide"></span>
                </div>
                <div class="actions">
                    <a class="btn btn-circle btn-icon-only btn-default" href="#">
                        <i class="icon-cloud-upload"></i>
                    </a>
                    <a class="btn btn-circle btn-icon-only btn-default" href="#">
                        <i class="icon-wrench"></i>
                    </a>
                </div>
            </div>
            <div class="portlet-body"> 
            <!-- BEGIN PORTLET-->

                 <a href="#" class="btn green-haze" ng-click="resetModal()" data-target="#pageModal" data-toggle="modal">Add Source</a>
                
                <div class="table-scrollable table-scrollable-borderless">
                    <table class="table table-hover table-light">
                        <thead>
                            <tr class="uppercase">
                                <th class="fit">
                                    Alias
                                </th>
                                <th>
                                    Url
                                </th>
                                <th>
                                    Devices
                                </th>
                                <th>
                                    Actions
                                </th>
                            </tr>
                        </thead>

                        <tr ng-repeat="source in $root.sources">
                            <td class="fit">
                                {{source.alias}}
                            </td>
                            <td>
                                {{source.url}}
                            </td>
                            <td>
                                <span ng-repeat="device in source.devices">
                                    {{device}}<br>
                                </span>
                            </td>
                            <td>
                                <button type="button" class="btn btn-danger btn-tiny" ng-click="revokeSource(source.alias, $index)"><i class="fa fa-cross"></i> Remove</button>
                            </td>
                        </tr>
                    </table>
                </div>

                <!-- BEGIN FORM-->
                <form action="#" class="form-horizontal form-bordered" name="sourceModal">
                    <div id="pageModal" class="modal fade" role="dialog" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                                    <h4 class="modal-title">New Source</h4>
                                </div>
                                <div class="modal-body">
                                    <form action="#" class="form-horizontal">
                                        <div class="form-group">
                                            <label class="control-label col-md-3">Source URL</label>
                                            <div class="col-md-9">
                                                <input ng-change="getAliasFromUrl()" ng-model="sourceUrl" type="text" class="form-control" name="sourceUrl" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-3">Source Alias</label>
                                            <div class="col-md-9">
                                                <input type="text" class="form-control"  ng-model="sourceAlias" name="sourceAlias" />
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-primary" ng-click="addSource()"><i class="fa fa-check"></i> Submit</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <!-- END FORM-->
                
            <!-- END PORTLET-->
            </div>
        </div>
    </div>
</div>
<!-- END MAIN CONTENT -->
<!-- BEGIN MAIN JS-->
<script>
    // call any jquery or angularjs code ehre
</script>
<!-- BEGIN MAIN JS -->