<div class="row">
  <div class="col-md-12">
      <!-- BEGIN PORTLET -->
      <div class="portlet light">
          <div class="portlet-title tabbable-line">
              <div class="caption caption-md">
                  <i class="icon-globe theme-font "></i>
                  <span class="caption-subject font-blue-madison bold uppercase">History</span>
              </div>
              <ul class="nav nav-tabs">
                  <li class="active">
                      <a href="#" data-target="#tab_1_1" data-toggle="tab"> Audit Log </a>
                  </li>
                  <li>
                      <a href="#" data-target="#tab_1_2" data-toggle="tab"> Builds </a>
                  </li>
              </ul>
          </div>
          <div class="portlet-body">
              <!--BEGIN TABS-->
              <div class="tab-content">
                  <div class="portlet-input" style="margin-bottom: 10px">
                      <div class="input-icon right">
                          <i class="icon-magnifier"></i>
                          <input type="text" class="form-control form-control-solid" ng-model="searchText" placeholder="search...">
                      </div>
                  </div>
                  <div class="tab-pane active" id="tab_1_1">
                      <div class="scroller" style="height: 638px;" data-always-visible="1" data-rail-visible1="0" data-handle-color="#D7DCE2">



                          <ul class="feeds">
                              <li ng-repeat="(date, value) in $root.auditlog | objFilter:searchText | limitTo:200 track by $index">

                                <div class="todo-tasklist-item todo-tasklist-item-border-green">
                                    <img class="todo-userpic pull-left" src="../assets/thinx/img/default_avatar_sm.png" width="27px" height="27px">
                                    <div class="todo-tasklist-item-title"> {{value | limitTo:32}} </div>
                                    <div class="todo-tasklist-item-text"> {{value}} </div>
                                    <div class="todo-tasklist-controls pull-left">
                                        <span class="todo-tasklist-date">
                                            <i class="fa fa-calendar"></i> {{date | lastSeen}} </span>
                                        <span class="todo-tasklist-badge badge badge-roundless badge-warning">Warning</span>
                                    </div>
                                </div>

                              </li>
                          </ul>
                      </div>
                  </div>
                  <div class="tab-pane" id="tab_1_2">
                      <div class="scroller" style="height: 638px;" data-always-visible="1" data-rail-visible1="0" data-handle-color="#D7DCE2">
                          <ul class="feeds">
                              <li ng-repeat="build in $root.buildlog | filter:searchText | limitTo:200 track by $index">

                                <div class="todo-tasklist-item todo-tasklist-item-border-green">
                                    <img class="todo-userpic pull-left" src="../assets/thinx/img/default_avatar_sm.png" width="27px" height="27px">
                                    <div class="todo-tasklist-item-title"> {{build.message | limitTo:32}}

                                      <a class="btn btn-circle btn-icon-only btn-default pull-right" ng-click="$root.$emit('showLogOverlay', build.build_id)">
                                          <i class="fa fa-eye"></i>
                                      </a>

                                    </div>
                                    <div class="todo-tasklist-item-text"> {{build.udid}} <br> {{build.message}} </div>
                                    <div class="todo-tasklist-controls pull-left">
                                        <span class="todo-tasklist-date">
                                            <i class="fa fa-calendar"></i> {{build.date | lastSeen}} </span>
                                        <span class="todo-tasklist-badge badge badge-roundless badge-success">Success</span>
                                    </div>
                                </div>

                              </li>
                          </ul>
                      </div>
                  </div>
              </div>
              <!--END TABS-->
          </div>
      </div>
      <!-- END PORTLET -->
  </div>
</div>

<!-- START PAGE LOG OVERLAY -->
<div ng-controller="LogviewController" class="log-view-overlay-conatiner" style="display:none">
  <div class="log-view-overlay-controls">
    <a ng-click="wsstailLog($root.modalBuildId)" title="Refresh status"><i class="icon-refresh"></i></a>
    <a ng-click="switchWrap()" title="Toggle Word Wrap"><i class="icon-frame"></i></a>
    <a ng-click="hideLogOverlay($root.modalBuildId)" title="Close Log"><i class="icon-close"></i></a>
  </div>
  <div class="log-view-overlay log-view-body force-word-wrap" scroll-glue>
    <div class="overlay-title">Build Log <span>{{$root.modalBuildId}}</span></div>
    {{$root.logdata[$root.modalBuildId]}}
  </div>
</div>
<!-- END PAGE LOG OVERLAY -->

<!-- BEGIN MAIN JS-->
<script>
    Profile.init(); // init page demo
</script>
<!-- BEGIN MAIN JS -->
